@media only screen and (min-width: 1260px) {
  .business-button button:hover {
    cursor: pointer;
    color: white;
    background: #F35D5D;
  }
}

@media only screen and (max-width: 1260px) {
  .business-block-1 {
    flex-direction: column-reverse;
    margin-bottom: 64px !important;
  }
  .business-block-2 {
    flex-direction: column;
    margin-bottom: 64px !important;

    margin-right: auto !important;
  }
  .business-desc {
    max-width: 1260px !important;
    width: 100% !important;
  }

  .business-block-desc-2, .business-block-desc {
    margin-right: auto !important;
    margin-left: 0 !important;
    max-width: 1260px !important;
  }

  .bussiness-img-1, .bussiness-img-2 {
    margin-left: 0 !important;
    margin-right: auto;
  }
  .business-block-desc {
    width: 100% !important;
    margin-top: 24px !important;
    margin-right: auto !important;
    justify-content: center !important;
  }
  .business {
    margin-top: 64px !important;
  }
  .last {
    margin-bottom: 44px !important;
  }
  .business-button {
    margin-bottom: 64px !important;
  }
  .business-button button {
    max-width: 1260px !important;
    width: 100% !important;

  }

  .bussines-title {
    font-size: 20px !important;
    line-height: 26px !important;
  }
  .business-desc {
    font-size: 16px !important;
    line-height: 150% !important;
  }
}

.business {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.business-block-1, .business-block-2 {
  display: flex;
  margin-bottom: 150px;
}

.business-block-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bussines-title {
  font-size: 32px;
  line-height: 130%;
  color: #1D1D1D;
  max-width: 555px;
  width: 100%;
}

.business-desc {
  margin-top: 16px;
  max-width: 832px;
  width: 100%;
  font-size: 18px;
  line-height: 150%;
  color: #393939;
}

.bussiness-img-1 {
  margin-left: 90px;
}

.bussiness-img-1 img {
  width: 100%;
  height: 100%;
}

.bussiness-img-2 img {
  width: 100%;
  height: 100%;
}


.bussiness-block-desc-2 {
  margin-left: 90px;
}

.last {
  margin-bottom: 100px;
}

.business-button {
  display: flex;
  margin-bottom: 150px;
  justify-content: center;
}

.business-button button {
  font-size: 16px;
  width: 204px;
  height: 54px;
  background: #EE4242;
  border-radius: 6px;
  border: none;
  color: white;
}
