@media only screen and (max-width: 1260px) {
  .footer-head {
    justify-content: center !important;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 24px !important;
  }
  .footer-logo img{
    width: 148px;
    height: 28px;
  }
  .footer-head {
    margin-top: 32px !important;
    margin-bottom: 24px !important;
  }
  .footer-fot {
    justify-content: center !important;
    flex-direction: column-reverse !important;
    margin-bottom: 32px !important;
    margin-top: 26px !important;
  }

  .terms {
    justify-content: center !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .email {
    justify-content: center;
    margin-bottom: 26px !important;
  }
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-head {
  margin-top: 100px;
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
}

.social img {
  margin-left: 16px;
}

.hr {
  height: 1px;
  color: #D9D9D9;
}

.footer-fot {
  margin-bottom: 100px;
  margin-top: 42px;
  display: flex;
  justify-content: flex-end;
}

.terms {
  font-size: 16px;
  line-height: 20px;
  margin-right: 350px;
  display: flex;
}

.email {
  font-size: 16px;
  line-height: 20px;
  display: flex;
}

.email img {
  margin-right: 10px;
}

.term {
  margin-right: 80px;
}

.social-left {
  margin-left: 0px !important;
}
