$red-color: #EE4242;
$white-color: #F5F5F5;

.buttons button {
  height: 54px;
  max-width: 204px;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 19px;
}

.buttons {
  max-width: 424px;
  width: 100%;
  justify-content: space-between;
}

.get-started {
  border: none;
  background: $red-color;
  color: $white-color;
}

.sign-in {
  border: 1px solid #EE4242;
  color: $red-color;
  background: $white-color
}

.logo {
  margin-top: 24px;
}
