@media only screen and (max-width: 1260px) {
  .title {
    font-size: 32px !important;
    line-height: 41px !important;
  }

  .desc-text {
    font-size: 16px !important;
  }
  .main {
    margin-top: 64px !important;
  }

  .desc {
    font-size: 16px !important;
    line-height: 24px !important;
    margin-top: 16px !important ;
  }

  .button {
    margin-top: 24px !important;
  }

  .button button {
    max-width: 343px !important;
  }

 }
.title {
  color: #1D1D1D;
  font-size: 64px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main {
  margin-top: 127px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.desc {
  color: #393939;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 24px;
}

.desc-text {
  line-height: 30px !important;
  font-size: 20px;
  max-width: 1156px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.button .get-started {
  font-size: 16px;
  max-width: 204px;
  height: 54px;
  width: 100%;
  border-radius: 6px;
}
