@media only screen and (min-width: 1260px) {
  .demo-button button:hover {
    cursor: pointer;
    color: white;
    background: #F35D5D;
    border: none;
  }
}


@media only screen and (max-width: 1260px) {
  .solution {
    margin-top: 64px !important;
  }

  .demo-text-box-right {
    max-width: 1260px !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: auto !important;
  }
  .demo-solution {
    flex-direction: column !important;
    margin-top: 24px !important;
  }
  .demo-solution-entrepreneurs .demo-image {
    margin-left: 0 !important;
  }
  .demo-solution-entrepreneurs {
    flex-direction: column-reverse !important;
    margin-top: 64px !important;
    margin-bottom: 64px !important;
  }
  .demo-text-box {
    max-width: 1260px !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: auto !important;
  }
  .demo-image {
    display: flex;
    justify-content: center;
    margin-right: auto !important;
  }
  .demo-image img {
    width: 100% !important;
    height: 100% !important;
  }
  .solution-title {
    font-size: 24px !important;
    line-height: 31px !important;
  }
  .pre-title {
    margin-top: 24px !important;
    font-size: 18px !important;
  }
  .demo-title {
    font-size: 20px !important;
    margin-top: 24px !important;
  }
  .demo-text {
    font-size: 16px !important;
    line-height: 150% !important;
    margin-top: 16px !important;
  }
  .demo-button button{
    max-width: 1260px !important;
    width: 100% !important;
    font-size: 16px !important;
  }
}

.solution {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.solution-title {
  font-size: 48px;
  line-height: 130%;
  color: #1D1D1D;
  text-align: center;
}

.demo-solution {
  margin-top: 100px;
  display: flex;
}

.demo-text-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 734px;
  margin-left: 187px;
}
.demo-text-box-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 734px;
}

.pre-title {
  color: #EE4242;
  font-size: 18px;
  line-height: 130%;
}

.demo-title {
  font-size: 32px;
  line-height: 130%;
  color: #1D1D1D;
}

.demo-text {
  font-size: 18px;
  line-height: 150%;
  color: #393939;
  margin-top: 24px;
}
.demo-button a {
  width: 100%;
}
.demo-button {
  margin-top: 32px;
  display: flex;
  justify-content: centergi;
}

.demo-button button {
  width: 204px;
  height: 54px;
  background: #EE4242;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
}
.demo-solution-entrepreneurs {
  margin-top: 150px;
  margin-bottom: 150px;
}
.demo-solution-entrepreneurs .demo-image {
  margin-left: 187px;
}
