.solution {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.solution-title {
  font-size: 48px;
  line-height: 130%;
  color: #1D1D1D;
  text-align: center;
}

.demo-solution {
  margin-top: 100px;
  display: flex;
}

.demo-text-box {
  margin-left: 187px;
}

.pre-title {
  margin-top: 44px;
  color: #EE4242;
  font-size: 18px;
  line-height: 130%;
}

.demo-title {
  font-size: 32px;
  line-height: 130%;
  color: #1D1D1D;
  margin-top: 12px;
}

.demo-text {
  font-size: 18px;
  line-height: 140%;
  color: #393939;
  margin-top: 24px;
}

.demo-button {
  margin-top: 32px;
}

.demo-button button {
  width: 204px;
  height: 54px;
  background: #EE4242;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
}

.demo-image {
  margin-left: 187px;
}

.demo-solution-entrepreneurs {
  margin-bottom: 150px;
}
