@media only screen and (max-width: 1260px) {
  .statistic {
    margin-top: 93px !important;
    padding-bottom: 32px !important;
  }

  .image-mockup {
    margin-top: -65px !important;
  }

  .stats {
    align-items: center;
    grid-template-columns:none !important;
    grid-template-rows: repeat(4, 1fr);
  }
  .bf-2 {
    margin-bottom: 64px !important;
    margin-top: 32px !important;
  }
  .mocks, .values {
    font-size: 20px !important;
    line-height: 150% !important;
  }
  .mocks {
    margin-top: 0 !important;
  }
  .block {
    margin-left: auto;
    margin-right: auto;
    border: none !important;
    max-width: 288px;
    width: 100% !important;
    height: auto !important;
    margin-bottom: 32px !important;
  }
}

.bf-2 {
  margin-bottom: 150px;
  margin-top: 100px;
}

.b-2 {
  height: auto !important;
}

.block-last {
  margin-bottom: 0 !important;
}
.statistic {
  margin-top: 286px;
  background: #EE4242;
  width: 100%;
  padding-bottom: 50px;
}

.image-mockup {
  margin-top: -186px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.image-mockup img {
  max-width: 1156px;
  height: 100%;
  width: 100%;
  max-height: 768px;
}
.stats {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: grid;
  grid-template-columns: repeat(288,1fr);
}

.block {
  height: 115px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);;
  justify-content: center;
  text-align: center;
  width: 288px;
}

.block-1 {
  border-left: none;
}

.mocks {
  margin-top: 20px;
  font-size: 32px;
}

.values {
  margin-top: 8px;
  font-size: 20px;
  // opacity: 0.7;
}
